@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Time Calculator</h1>
    <p class="lead">"Time Calculator" is a website made to calculator how much time you spend watching your shows. It will look at how many seasons, episodes, how long episodes are and tell you what the total hours of watch time for the show, it even works for movie squils.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>"Shows" tab</h2>
        <p>
            The shows tab will allow you to calculate how long a show is in hours. It takes into concederation the number of seasons, number of episodes per season, length of the episodes and gives you how long the show is in hours. It can also add the show to a list for you to watch it later or to just have it on record.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"Movies" tab</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>